<!DOCTYPE html>
<html>
    <body>
        <h2 id="welcome">Eco CRM</h2>        
        <div class="col-md-auto" *ngIf="loggedUser">
            <p-tabMenu [model]="items"></p-tabMenu>          
            <p-tabView>
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <p-button label="Dodaj klienta" icon="pi pi-plus" styleClass="p-button" style="padding-right: 10px;"></p-button>
                        <p-button label="Dodaj oferte" icon="pi pi-plus" styleClass="p-button" style="padding-right: 10px;"></p-button>
                        <p-button label="Dpdaj materiał" icon="pi pi-plus" styleClass="p-button"></p-button> 
                    </div>
                    <div class="p-toolbar-group-right">
                        <p-button label="Logout" styleClass="p-button-warning" (click)="logout()"></p-button>
                    </div>
                </p-toolbar>      
            </p-tabView> 
            <router-outlet></router-outlet>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form (ngSubmit)="onLoginFormSubmit()" *ngIf="!loggedUser" class="box">
                        <h1>Login</h1>

                        <span class="p-float-label">
                            <input id="float-input" type="text" name="username" pInputText [(ngModel)]="username"/>
                            <label for="float-input">Username</label>
                        </span>
                        <br>
                        <span class="p-float-label">
                            <input id="float-input" type="text" name="password" pInputText [(ngModel)]="password"/>
                            <label for="float-input">Password</label>
                        </span>
                        <br>        
                        <button pButton type="submit" name="login" value="Login" label="Login"></button>        
                    </form>
                </div>
            </div>
        </div>       
    </body>
</html>

