<!-- <span class="p-float-label">
  <input id="in_title" type="text" [(ngModel)]="title" pInputText>
  <label for="in_title">Title</label>
</span>
<br>
<button type="button" pButton label="PrimeNG" (click)="upper()"></button>
<p>{{title}}</p> -->

<!-- <p-splitter [style]="{'height': '300px'}" [panelSizes]="[20,80]" [minSizes]="[10,0]" styleClass="mb-5">
  <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center">
          Panel 1
      </div>
  </ng-template>
  <ng-template pTemplate>
      <p-splitter layout="vertical" [panelSizes]="[15,85]">
          <ng-template pTemplate>
              <div class="col flex align-items-center justify-content-center">
                  Panel 2
              </div>
          </ng-template>
          <ng-template pTemplate>
              <p-splitter [panelSizes]="[20,80]">                 
                  <ng-template pTemplate>
                      <div class="col flex align-items-center justify-content-center">
                          Panel 4
                      </div>
                  </ng-template>
              </p-splitter>
          </ng-template>
      </p-splitter>
  </ng-template>
</p-splitter> -->
<body>
  <router-outlet></router-outlet>
</body>
